[user]
	name = liulingxu
	email = liulingxu@donson.com.cn
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=format:'%Y-%m-%d %H:%M:%S' --abbrev-commit
[http]
	postBuffer = 524288000
[core]
	compression = 0
[pack]
	windowMemory = 500m
	packSizeLimit = 500m
	threads = 1
	deltaCacheSize = 512m
[pull]
	rebase = true
	ff = only
[core]
    excludesfile = /Users/eric/.gitignore_global
	autocrlf = input
[diff]
	tool = bc
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
[mergetool]
	keepBackup = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
